body{
  background: lightblue;
  margin: 0;
}
#outer1{
  position: absolute;
  top: 40px;
  left: 200px;
  height: 640px;
  width: 310px;
  background-color: white;
  border-radius: 50px;
}
#outer2{
  position: relative;
  margin: 5px;
  height: 630px;
  width: 300px;
  background-color: #dcdfe6;
  border-radius: 50px;
}
#speaker{
  position: relative;
  top :30px;
  left: 50%;
  transform: translateX(-50%);
  height: 7px;
  width: 70px;
  background-color: #a1a5b3;
  border-radius: 50px;
}
#screen{
  position: relative;
  overflow:hidden;
  margin-top :50px;
  left: 50%;
  transform: translateX(-50%);
  height: 480px;
  width: 280px;
  background-color: white;
}
#touchouter{
  position: absolute;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  border-radius: 50%;
  width: 60px;
  background-color: #a1a5b3;
}
#touchinner{
  position: relative;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  border-radius: 50%;
  width: 50px;
  background-color: #dcdfe6;
}
#screenhead1{
  position: relative;
  height: 40px;
  width: 280px;
  background-color: #58b2a4;
}
#screenhead2{
  position: relative;
  height: 40px;
  width: 280px;
  background-color: #58b2a4;
}
#calendar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  user-select: none;
}
#month{
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%,-50%);
  color: white;
  user-select: none;
}
#days{
  position: relative;
  height: 40px;
  width: 280px;
}
#day{
  position: relative;
  float: left;
  margin: 0;
  display: inline-block;
  height: 40px;
  width: 40px;
  transition: 0.5s;
}
#daytext{
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: default;
  user-select: none;
}
#dates{
  position: relative;
  height: 200px;
  width: 280px;
}
#date{
  position: relative;
  float: left;
  margin: 0;
  background-color: white;
  display: inline-block;
  height: 40px;
  width: 40px;
  transition: 0.5s;
  z-index: 2;

}
#datex{
  position: relative;
  overflow: hidden;
  float: left;
  margin: 0;
  display: inline-block;
  height: 40px;
  width: 40px;
  transition: 0.5s;
  z-index: 0;
}
#datexi{
  position: relative;
  overflow: hidden;
  float: left;
  margin: 0;
  display: inline-block;
  height: 40px;
  width: 40px;
  transition: 0.5s;
  z-index: -1;
}
#colorslider1{
  position: absolute;
  margin-left: -40px;
  background-color: #bd677d;
  height: 40px;
  width: 40px;
  transition: 2s;
  z-index: 1;
}
#colorslider2{
  position: absolute;
  margin-left: -40px;
  background-color: #d3738b;
  height: 40px;
  width: 40px;
  transition: 2s;
  z-index: 1;
}
#datetext{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: default;
  user-select: none;
  z-index: 2;
}
#datetextextra{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d9dcde;
  transform: translate(-50%,-50%);
  cursor: default;
  user-select: none;
}
#date:hover{
  background-color:#5da79b;
  color: white;
}
#occasion{
  position: relative;
  height: 160px;
  width: 280px;
}
#vacation{
  position: relative;
  float: left;
  left: -160px;
  margin: 0;
  display: inline-block;
  height: 40px;
  width: 160px;
  transition: 0.5s;
  background-color: #d3738b;
  z-index: 1;
}
#walk{
  position: relative;
  float: left;
  left: -280px;
  margin: 0;
  display: inline-block;
  height: 40px;
  width: 120px;
  transition: 0.5s;
  background-color: #7186db;
}
#fishing{
  position: relative;
  float: left;
  left: -120px;
  margin: 0;
  display: inline-block;
  height: 40px;
  width: 120px;
  transition: 0.5s;
  background-color: #8f658a;
  z-index: 1;
}
#weekend{
  position: relative;
  float: left;
  left: -280px;
  margin: 0;
  display: inline-block;
  height: 40px;
  width: 160px;
  transition: 0.5s;
  background-color: #f7c187;
}
#addnew{
  position: relative;
  float: left;
  left: -280px;
  margin: 0;
  display: inline-block;
  height: 40px;
  width: 280px;
  transition: 0.5s;
  background-color: #58b2a4;
}
#reset{
  position: relative;
  float: left;
  left: -280px;
  margin: 0;
  display: inline-block;
  height: 40px;
  width: 280px;
  transition: 0.5s;
  background-color: white;
}
